// App variables

// - colors
$black: #000000;
$white: #ffffff;

$strapi-gray-light: #919caf;
$strapi-gray: #535F76;
$strapi-blue-darker: #6c0706;
$strapi-blue-dark: #2e130a;
$strapi-blue: #dff7f4;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $strapi-blue-darker;
$left-menu-link-hover: #610a06;
$left-menu-link-color: #c2cde0;
$left-menu-title-color: #5B626F;

// -- header
$header-height: 6rem;
// -- content
$content-background: #FAFAFB;

// Import bootstrap variables
@import "variables.bootstrap";
